@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url("chess.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px #000000;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header "
        "navbar navbar"
        "importance_chess importance_chess"
        "watermark watermark";
}
.header {
    grid-area: header;
    border: 1px solid #000000;
    padding: 50px;
    padding: 50px;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav_home nav_chess nav_history nav_contact";
}

.navbar a {
    color:#ffffff;
    text-decoration: none;
}

.nav_home {
    grid-area: nav_home;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_chess {
    grid-area: nav_chess;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_history {
    grid-area: nav_history;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_contact {
    grid-area: nav_contact;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}
.importance_chess {
    grid-area: importance_chess;
    border: 1px solid #000000;
    padding: 200px;
    background-color: #4A5859;
    padding: 200px;
    text-align: center;
    /*font-size: large;*/
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 251, 251);
    font-family: 'Open Sans', sans-serif;
}
.importance_chess {
    grid-area: importance_chess;
    border: 1px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    /*font-size: large;*/
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}
.chess_history3 {
    grid-area: chess_history3;
    border: 1px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    /*font-size: large;*/
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}
.chess_history4 {
    grid-area: chess_history4;
    border: 1px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    /*font-size: large;*/
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

