body{
    background-image: url("chess.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header "
        "chess_one info"
        "play_chess contact"
        "watermark watermark";
}

.header {
    grid-area: header;
    border: 2px solid #000000;
    padding: 50px;
    background-color: #32373B;
    padding: 50px;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.chess_one {
    grid-area: chess_one;
    border: 2px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 251, 251);
}
.history {
    grid-area: history;
    border: 2px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.why_you_should_consider_playing_chess {
    grid-area: why you should consider playing chess;
    border: 2px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.contact {
    grid-area: contact;
    border: 2px solid #000000;
    padding: 150px;
    background-color: #4A5859;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.watermark {
    grid-area: watermark;
    border: 2px solid #000000;
    padding: 50px;
    background-color: #32373B;
    padding: 50px;
    text-align: center;
    font-size:xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);

}

  

