@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: url("chess.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px #000000;
}


.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header "
        "navbar navbar"
        "section_1 section_1"
        "watermark watermark";
}

.header {
    grid-area: header;
    border: 2px solid #000000;
    padding: 50px;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

.navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav_home nav_chess nav_history nav_contact";
}

.navbar a {
    color:#ffffff;
    text-decoration: none;
}

.nav_home {
    grid-area: nav_home;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_chess {
    grid-area: nav_chess;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_history {
    grid-area: nav_history;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.nav_contact {
    grid-area: nav_contact;
    text-align: center;
    background-color: #0000001f;
    width: 100%;
    padding: 20px;
}

.section_1 {
    grid-area: section_1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "chess_one why_you_should_consider_playing_chess"
    "play_chess contact";
    border: solid 2px #000000;
}

.chess_one {
    grid-area: chess_one;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 251, 251);
}
.history {
    grid-area: history;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.why_you_should_consider_playing_chess {
    grid-area: why_you_should_consider_playing_chess;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

.play_chess {
    grid-area: play_chess;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.contact {
    grid-area: contact;
    padding: 150px;
    text-align: center;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.watermark {
    grid-area: watermark;
    border: 2px solid #000000;
    padding: 50px;
    background-color: #32373B;
    padding: 50px;
    text-align: center;
    font-size:xx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

  

